@import 'antd/dist/reset.css';
@import 'tailwindcss';

@theme {
  --color-primary: #1d4ed8; /* Blue-700 */
  --color-text-primary: #1f2937; /* Gray-900 */
  --breakpoint-3xl: 1280px;
  --color-red-50: #000000;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
}

:root {
  /* Theme Light (mặc định) */
  --color-primary: #1d4ed8; /* Blue-700 */
  --color-secondary: #f3f4f6; /* Gray-100 */
  --color-text-primary: #1f2937; /* Gray-900 */
}

.dark {
  /* Theme Dark */
  --color-primary: #60a5fa; /* Blue-400 */
  --color-secondary: #1f2937; /* Gray-900 */
  --color-text-primary: #f3f4f6; /* Gray-100 */
}
